.App {
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.field{
  width: 420px;
  height: 420px;
  margin: 30px auto;
  border: 1px solid #585858;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}



