.Blocks{
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  background: #444;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.Blocks-selected{
  background: transparent;
}
.Blocks-showRing::before{
  content: url('../img/ring.jpg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  z-index: -1;
}